
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="u.css">
	<title>西明日香トークショー in ソフィア祭　−あっちゃんとチューニング...しよっ？−</title>
	style.
		html, body{
			margin: 0px;
			width: 100%;
			height: 100%;
			font-family: 'Meiryo', sans-serif;
		}

		body{
			background-attachment: fixed;
			background-image: url('/assets/event/20151101/background.jpg');
			background-size: 100%;
			background-repeat: no-repeat;
		}

		h1{
			font-size: 1.5em;
			border-bottom: #7d002d 2px solid;
		}

		h2{
			font-size: 1.1em;
			border-bottom: #000 1px dashed;
		}

		header{
			box-sizing: border-box;
			padding: 0px 10px;
			position: fixed;
			z-index: 1;
			top: 0px;
			left: 0px;
			background: rgba(0, 0, 0, 0.8);
			font-size: 1.3em;
			width: 100%;
		}

		a{
			color: #B24926;
			text-decoration: underline;
		}

		a:hover{
			color: inherit;
			text-decoration: none;
		}

		header *{
			vertical-align: bottom;
		}

		header img{
			height: 43px;
		}

		header a{
			display: inline-block;	
			text-decoration: none;
			border-bottom-color: #00a1cb;
			border-bottom-width: 0px;
			border-bottom-style: solid;
			margin-bottom: 3px;
		}

		header a:not(:first-child){
			padding: 6px 12px;
			color: #fff;
		}

		header a:hover{
			margin-bottom: 0px;
			border-bottom-width: 3px;
		}

		.current{
			border-bottom-color: #00a1cb;
			border-bottom-width: 3px;
			margin-bottom: 0px;
		}

		.wrap{
			padding-top: 55px;
			padding-bottom: 20px;
		}

		.page{
			background: rgba(255, 255, 255, 0.8);
			padding: 20px;
			box-sizing: border-box;
			width: 95%;
			margin-left: auto;
			margin-right: auto;
		}

		.page table{
			border-collapse: collapse;
		}

		.page td, th{
			border-bottom: 1px #000 dotted;
			padding: 8px;
		}

		.page th{
			vertical-align: top;
		}

		.history{
			position: fixed;
			bottom: 10px;
			right: 20px;
			padding: 20px;
			margin: 0px;
			max-height: 164px;
			box-sizing: border-box;
			overflow: scroll;
			background: rgba(255, 255, 255, 0.8);
		}

		.history dt{
			font-weight: bold;
		}

		.tw-wrap{
			display: inline-block;
			padding-bottom: 10px;
			padding-left: 30px;
		}

		.artist-img{
			width: 200px;
		}

		#fc2_footer{
			display: none;
		}
</head>
<body>
	<header>
		<a href='https://koeai.github.io/'><img src="/assets/event/20151101/logo.png" alt="logo"></a>
	</header>
	<div class="wrap">
		<div class="page" id="about">
			<h1>西明日香トークショー in ソフィア祭 中止のご報告</h1>
			p.
				この度は西明日香トークショーinソフィア祭にご応募いだきありがとうございます。<br>
				本日当選メールの配信を予定していましたが、当サークルのイベント開催に関しての情報掲載及び料金設定がソフィア祭の参加規約に反していることが判明いたしました。<br>
				またソフィア祭に参加した上で成立する企画あったために開催自体が不可能となり、誠に勝手ながらイベントを中止させていただく運びとなりました。<br>
				公演を楽しみにお待ちいただいたお客様にはご迷惑をお掛け致しまして大変申し訳ございません。<br>
				お書きいただいた個人情報等はこちらで責任を持って削除させていただきます。<br>
				また、トークショーにご応募いただいたお客様にこの度の事態の詳細について近日中に改めてメールを必ずお送りさせていただきます。<br>
				何卒ご理解のほど、よろしくお願い申し上げます。<br><br>
				こえあい＠そふぃあ
		</div>
	</div>
</body>
</html>