doctype html
html
	head
		include ../../shared/meta.pug
		+meta('こえあい@そふぃあ 活動履歴', 'こえあい＠そふぃあの活動履歴')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/css/kube.css')
		link(rel='stylesheet' href='index.css')
	body
		include ../../shared/nav.pug
		main
			h2 こえあい@そふぃあ 活動履歴
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		scrip(src='https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/js/kube.min.js')
		script.
			window.twttr = (function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0],
				t = window.twttr || {};
			if (d.getElementById(id)) return t;
			js = d.createElement(s);
			js.id = id;
			js.src = "https://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js, fjs);

			t._e = [];
			t.ready = function(f) {
				t._e.push(f);
			};

			return t;
			}(document, "script", "twitter-wjs"));
		script(src='index.js')